/* Variables */

extralightgray = #f5f5f5
lightgray = #eeeeee
mediumlightgray = #dddddd
mediumgray = #cccccc
mediumdarkgray = #555555
darkgray = #333333
primary = #008cba

/* Caginate */

.perPage
  margin-top: 20px
  .item-count
    display: inline-block
    margin-left: .8rem
    min-width: 40px
    padding: 8px
    border: 2px solid mediumgray
    color: mediumgray
    text-align: center
    cursor: pointer
    transition: all .2s ease
  .item-count:hover
    border-color: mediumdarkgray
    color: mediumdarkgray
  .item-count.current
    border-color: primary
    color: primary
  .item-count.current:hover
    cursor: default

ul.caginate
  display: inline-block
  margin: 20px auto 25px auto
  li
    display: inline
    height: 1.5rem
    color: darkgray
  li a
    position: relative
    float: left
    margin-left: .8rem
    padding: 0.06rem 0.6rem
    color: mediumgray
    border: 2px solid mediumgray
    transition: all .2s ease
  li:first-child a
    margin-left: 0
  li a:hover
    color: mediumdarkgray
    border-color: mediumdarkgray
  li.current a
    border: 2px solid primary
    color: primary
  li.current a:hover
    cursor: default
  li.disabled a
    background: lightgray
    border: 2px solid lightgray
    color: mediumgray
    cursor: default

.caginate-centered
  text-align: center

.caginate-centered ul.caginate li
  float: none
  display: inline-block